.relative {
  position: relative;
}

.flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.flex-col {
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}
